.container {
  @apply relative mb-3;
}

.input {
  @apply mr-1.5;
}

/* mb-3 last-of-type:mb-4 **/

.trigger {
  @apply min-w-0 px-2.5;
}

/* .trigger {
  @apply w-full bg-zinc-600/75 hover:bg-zinc-500/75 disabled:opacity-100 disabled:bg-zinc-600/75;
  @apply shadow-none flex justify-between items-center;
}

.triggerPressed {
  @apply hover:bg-zinc-400/75;
} */

/* .triggerValue {
  @apply text-ellipsis overflow-hidden;
} */

.triggerIcon {
  @media (prefers-reduced-motion: no-preference) {
    @apply transition-transform duration-200;
  }
}

.triggerIconOpened {
  @apply rotate-180;
}

.menuContainer {
  @apply absolute top-full inset-x-0 mt-0.5 mr-10 outline-none;
}

.menu {
  @apply rounded-md bg-zinc-700 shadow-sm shadow-zinc-900/50 overflow-auto origin-top;

  @media (prefers-reduced-motion: no-preference) {
    &[data-state='open'] {
      animation: in 250ms ease-out;
    }

    &[data-state='closed'] {
      animation: out 200ms ease-out;
    }
  }
}

.menuItem {
  @apply px-3 py-1.5 cursor-pointer text-ellipsis overflow-hidden;
}

.menuItemHighlighted {
  @apply bg-blue-600;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
