.editor {
  &:global(.ProseMirror) {
    overflow-wrap: anywhere;
  }

  :global(.ProseMirror-gapcursor) {
    @apply after:top-2 after:border-blue-400;
  }

  @apply outline-none;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-4 text-blue-200;
  }

  h1 {
    @apply mt-0 text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-semibold;
  }

  h6 {
    @apply text-base font-medium;
  }

  p {
    @apply my-4;

    color: var(--editor-text-color);
  }

  & > p:first-child {
    @apply mt-0;
  }

  & > p:last-child {
    @apply mb-0;
  }

  hr {
    @apply border-t-zinc-600;

    &:global(.ProseMirror-selectednode) {
      @apply border-t-blue-400;
    }
  }

  blockquote {
    @apply border-l-[3px] border-l-zinc-600 pl-3 italic;

    & > p:first-child > strong {
      @apply relative ml-5 mr-0.5 not-italic text-blue-300;

      &::before {
        @apply bg-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZmlsbD0iIzkzYzVmZCIgZD0iTTEyIDIyQzYuNDc3IDIyIDIgMTcuNTIzIDIgMTJTNi40NzcgMiAxMiAyczEwIDQuNDc3IDEwIDEwLTQuNDc3IDEwLTEwIDEwem0wLTJhOCA4IDAgMSAwIDAtMTYgOCA4IDAgMCAwIDAgMTZ6TTExIDdoMnYyaC0yVjd6bTAgNGgydjZoLTJ2LTZ6Ii8+PC9zdmc+Cg==)];
        @apply absolute right-full top-0 mr-1.5 h-[1rem] w-[1rem] bg-[length:1rem_1rem] bg-no-repeat content-[''];
      }
    }
  }

  ol {
    counter-reset: li;
  }

  ol,
  ul:not([data-state]) {
    @apply pl-5;
  }

  ol > li,
  ul:not([data-state]) > li {
    @apply relative;

    &::before {
      @apply absolute align-top text-zinc-500;
    }
  }

  ol > li {
    counter-increment: li;

    &::before {
      @apply -left-9 -top-0 w-8 text-right;

      content: '.' counter(li);
      direction: rtl;
    }
  }

  ul:not([data-state]) > li::before {
    @apply -left-4 -top-[5px] text-xl content-['\2022'];
  }

  & > ol,
  & > ul:not([data-state]) {
    & > li p {
      @apply my-2;
    }
  }

  code:not(pre > code) {
    @apply rounded bg-zinc-600 px-[0.2rem] py-px;
  }

  mark {
    @apply rounded bg-amber-300 px-[0.2rem] py-px text-zinc-900;
  }

  a {
    @apply cursor-pointer underline underline-offset-1 hover:no-underline;

    color: var(--editor-link-color);
  }

  pre {
    @apply mt-8 rounded rounded-tr-none bg-zinc-700 py-1.5 pl-2 pr-7;

    /**
     * Based on GitHub Dark.
     * @see https://github.com/highlightjs/highlight.js/blob/112135fb063af64b7a94155b5d86859e8d52b6f0/src/styles/github-dark.css
     */
    code :global {
      .hljs-doctag,
      .hljs-keyword,
      .hljs-meta .hljs-keyword,
      .hljs-template-tag,
      .hljs-template-variable,
      .hljs-type,
      .hljs-variable.language_ {
        @apply text-red-400;
      }

      .hljs-title,
      .hljs-title.class_,
      .hljs-title.class_.inherited__,
      .hljs-title.function_ {
        @apply text-purple-300;
      }

      .hljs-attr,
      .hljs-attribute,
      .hljs-literal,
      .hljs-meta,
      .hljs-number,
      .hljs-operator,
      .hljs-variable,
      .hljs-selector-attr,
      .hljs-selector-class,
      .hljs-selector-id {
        @apply text-sky-400;
      }

      .hljs-regexp,
      .hljs-string,
      .hljs-meta .hljs-string {
        @apply text-sky-300;
      }

      .hljs-built_in,
      .hljs-symbol {
        @apply text-amber-500;
      }

      .hljs-comment,
      .hljs-code,
      .hljs-formula {
        @apply text-zinc-400;
      }

      .hljs-name,
      .hljs-quote,
      .hljs-selector-tag,
      .hljs-selector-pseudo {
        @apply text-emerald-400;
      }

      .hljs-subst {
        @apply text-blue-100;
      }

      .hljs-section {
        @apply font-semibold text-blue-300;
      }

      .hljs-bullet {
        @apply text-yellow-400;
      }

      .hljs-emphasis {
        @apply italic;
      }

      .hljs-strong {
        @apply font-semibold;
      }

      .hljs-addition {
        @apply bg-emerald-900 text-emerald-200;
      }

      .hljs-deletion {
        @apply bg-red-900 text-red-200;
      }
    }
  }

  img {
    & + img,
    & + :global(.ProseMirror-gapcursor) + img {
      @apply mt-4;
    }

    &:global(.ProseMirror-selectednode) {
      @apply outline outline-dashed outline-2 outline-blue-400;
    }
  }
}
