@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%;
  }
}

@layer components {
  .animate-control-menu {
    @media (prefers-reduced-motion: no-preference) {
      &[data-state='open'] {
        @apply animate-slide-in;
      }

      &[data-state='closed'] {
        @apply animate-slide-out;
      }
    }
  }

  .animate-modal-content {
    @media (prefers-reduced-motion: no-preference) {
      &[data-state='open'] {
        @apply animate-bounce-in;
      }

      &[data-state='closed'] {
        @apply animate-bounce-out;
      }
    }
  }

  .animate-palette-content {
    @media (prefers-reduced-motion: no-preference) {
      &[data-state='open'] {
        @apply animate-drop-in;
      }

      &[data-state='closed'] {
        @apply animate-drop-out;
      }
    }
  }

  .animate-modal-overlay {
    @media (prefers-reduced-motion: no-preference) {
      &[data-state='open'] {
        @apply animate-fade-in;
      }

      &[data-state='closed'] {
        @apply animate-fade-out;
      }
    }
  }

  .animate-tooltip {
    @media (prefers-reduced-motion: no-preference) {
      transform-origin: var(--radix-tooltip-content-transform-origin);

      @apply animate-scale-in;

      &[data-state='closed'] {
        @apply animate-scale-out;
      }
    }
  }
}

html {
  @apply scroll-smooth;
}

html,
body,
div#__next {
  @apply h-full;
}

body {
  @apply touch-pan-x touch-pan-y bg-zinc-800 text-sm text-blue-50 caret-blue-400;
  @apply selection:bg-blue-600 selection:text-blue-50;
}

div#__next {
  @apply flex items-center justify-center overflow-hidden;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: box-shadow 150ms ease;
  }
}

:root {
  --editor-text-color: theme('colors.blue.50');
  --editor-caret-color: theme('colors.blue.400');
  --todo-node-note-editor-text-color: theme('colors.zinc.400');
  --todo-node-completed-note-editor-text-color: theme('colors.zinc.500');
  --todo-node-cancelled-note-editor-text-color: theme('colors.zinc.600');
}
