@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%;
  }
}

@layer components {
  @media (prefers-reduced-motion: no-preference) {
    .animate-control-menu {
      @apply data-open:animate-slide-in data-closed:animate-slide-out;
    }

    .animate-modal-content {
      @apply data-open:animate-bounce-in data-closed:animate-bounce-out;
    }

    .animate-drawer-content {
      @apply data-open:animate-swipe-in-left data-closed:animate-swipe-out-left;
    }

    .animate-palette-content {
      @apply data-open:animate-drop-in data-closed:animate-drop-out;
    }

    .animate-modal-overlay {
      @apply data-open:animate-fade-in data-closed:animate-fade-out;
    }

    .animate-tooltip {
      transform-origin: var(--radix-tooltip-content-transform-origin);

      @apply animate-scale-in data-closed:animate-scale-out;
    }
  }
}

html {
  @apply scroll-smooth;
}

html,
body,
div#__next {
  @apply h-full;
}

body {
  @apply touch-pan-x touch-pan-y bg-zinc-800 text-sm text-zinc-100 caret-blue-400;
  @apply selection:bg-blue-600 selection:text-zinc-100;
}

div#__next {
  @apply flex items-center justify-center overflow-hidden;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: box-shadow 150ms ease;
  }
}

:root {
  --editor-text-color: theme('colors.zinc.100');
  --editor-link-color: theme('colors.blue.200');
  --editor-caret-color: theme('colors.blue.400');
  --todo-node-note-editor-text-color: theme('colors.zinc.400');
  --todo-node-completed-note-editor-text-color: theme('colors.zinc.500');
  --todo-node-cancelled-note-editor-text-color: theme('colors.zinc.600');
  --todo-node-note-editor-link-color: theme('colors.blue.200');
  --todo-node-completed-note-editor-link-color: theme('colors.zinc.500');
  --todo-node-cancelled-note-editor-link-color: theme('colors.zinc.600');
}
