.overlay {
  @apply z-40 fixed inset-0 flex flex-col  p-10 overflow-y-auto bg-zinc-900/80;

  @media (prefers-reduced-motion: no-preference) {
    &[data-state='open'] {
      animation: overlayIn 200ms ease-out;
    }

    &[data-state='closed'] {
      animation: overlayOut 200ms ease-in;
    }
  }
}

.contentContainer {
  --modal-min-width: 400px;
  --timing-function-bounce: cubic-bezier(0.55, 1.15, 0.35, 1.15);

  @apply z-50 m-auto outline-none;
  @apply bg-zinc-800 rounded-md shadow shadow-black/75;
  @apply min-w-[var(--modal-min-width)] max-w-[75%];

  @media (prefers-reduced-motion: no-preference) {
    &[data-state='open'] {
      animation: contentIn 300ms var(--timing-function-bounce);
    }

    &[data-state='closed'] {
      animation: contentOut 250ms var(--timing-function-bounce);
    }
  }

  & .content {
    & input,
    & button {
      max-width: calc(var(--modal-min-width) - theme('spacing[4]') * 2);
    }
  }
}

.header {
  @apply p-0 pl-4 pr-2 py-2.5 bg-zinc-900 border-b border-black/10 font-bold;
}

.close {
  @apply rounded-full p-1;
}

.content {
  @apply p-4 pt-3;
}

.footer {
  @apply pt-4;
}

@keyframes overlayIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes overlayOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes contentIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
