.spinner {
  @apply animate-spin-slow;
}

.spinnerColor {
  @apply text-blue-50/40;
}

.circle {
  @apply stroke-current;

  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
