.toast {
  @apply flex flex w-fit items-start gap-3 rounded-md bg-zinc-700 p-3 shadow shadow-black/50;
  @apply focus:outline-none;
  @apply focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:ring-offset-2 focus-visible:ring-offset-zinc-800;

  @media (prefers-reduced-motion: no-preference) {
    &[data-state='open'] {
      @apply animate-swipe-in-right;
    }

    &[data-state='closed'] {
      @apply animate-swipe-out-right;
    }

    &[data-swipe='move'] {
      transform: translateX(var(--radix-toast-swipe-move-x));
    }

    &[data-swipe='cancel'] {
      @apply translate-x-0 transition-transform duration-200 ease-in;
    }

    &[data-swipe='end'] {
      animation: swipeRight 100ms ease-in forwards;
    }
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  100% {
    transform: translateX(100%);
  }
}
