.toast {
  @apply flex flex w-fit items-start gap-3 rounded-md bg-zinc-700 p-3 shadow shadow-black/50;
  @apply focus:outline-none;
  @apply focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:ring-offset-2 focus-visible:ring-offset-zinc-800;

  @media (prefers-reduced-motion: no-preference) {
    @apply data-open:animate-swipe-in-right;
    @apply data-closed:animate-swipe-out-right;
    @apply data-cancel:translate-x-0 data-cancel:transition-transform data-cancel:duration-200 data-cancel:ease-in;

    &[data-swipe='move'] {
      transform: translateX(var(--radix-toast-swipe-move-x));
    }

    &[data-swipe='end'] {
      animation: swipeRight 100ms ease-in forwards;
    }
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  100% {
    transform: translateX(100%);
  }
}
