.content {
  @apply px-2 py-1 rounded text-xs font-semibold bg-zinc-100 text-zinc-900;

  transform-origin: var(--radix-tooltip-content-transform-origin);

  @media (prefers-reduced-motion: no-preference) {
    animation: in 250ms ease-out;

    &[data-state='closed'] {
      animation: out 150ms ease-out;
    }
  }
}

.arrow {
  @apply fill-zinc-100;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
